<div *ngFor="let product of products">
    <div class="row" style="padding-right:20px">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row text-center" style="margin-left: 20px; margin-right: 20px">
                    {{product.name}}
                    <button type="button" (click)="removeAll(product.id)" class="btn btn-danger pull-right glyphicon glyphicon-remove"></button>
                </div>
                
            </div>
            <div class="panel-body">
                <div class="row">                    
                    <div class="col-md-5" style="margin-left:20px">
                        <div class="row">
                            Name: {{product.name}}
                        </div>
                        <div class="row">
                            Description: {{product.description}}
                        </div>
                        <div class="row">
                            Price: {{product.price}}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="pull-right">
                            <div class="row">
                                Tottal Price: {{product.price*product.count}}
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button type="button" (click)="removeOne(product.id)" class="btn btn-danger glyphicon glyphicon-minus"></button>
                                </div>
                                <div class="col-md-6 text-center">
                                    Count: {{product.count}}
                                </div>
                                <div class="col-md-2">
                                    <button type="button" (click)="addOne(product.id)" class="btn btn-success glyphicon glyphicon-plus"></button>
                                </div>
                            </div>   
                        </div>                                             
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<a [routerLink]="['/purchase']" class="btn btn-success">
    Go to payment
</a>
    

