<div class="pager">
    <div class="row">
        <div class="col-md-4">
            <button type="button" (click)="prevPage()" class="btn btn-primary pull-left">Previous page</button>
        </div>
        <div class="col-md-4">
            <button type="button" (click)="sort()" class="btn btn-info text-center">Sort</button>
        </div>
        <div class="col-md-4">
            <button type="button" (click)="nextPage()" class="btn btn-primary pull-right">Next Page</button>
        </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let product of products">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a [routerLink]="['/../product']" [queryParams]="{ id: product.id}">
                        <div class="panel text-center">
                            <strong>{{product.name}}</strong>
                        </div>
                    </a>
                </div>                
                
                <div class="panel-body">
                    <div>
                        Description: {{product.description}}
                    </div>
                    <div>
                        Price: {{product.price}}
                    </div>
                    <div>
                        Code: {{product.id}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>